* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.galery {
    
    width: 80%;
    height: 400px;
    background-color: white;
    overflow: hidden;
    border-radius: 0;
    margin-top: 100px;
    box-shadow: 30px rgba(0, 0, 0, 0.16);
    
    
    
   
}


.galery .fotos {
    display: flex;
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.galery .fotos img {
    width: 20%;
    height: 400px;
    


}


.header-flex {
    display: flex;
    flex-direction: row;
}

.logo img {
    border-radius:10px 0px 0px 0px;
    box-shadow: 2px rgba(0, 0, 0, 0.16);
    width: 100px;
    height: 50px;
    
}

.nomedapagina {
    background-color: white;
    align-self: center;
   margin-left: -50px;
   margin-right: 50px;
   width:20% ;
}

body {
background-color: black;
}


.container-flex {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: black;
    margin: auto;
    text-align: center;


}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 630px;
    align-self: flex-end;
    background-color: white;
    margin-top: 20PX;
  
   box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.16);
   border-radius: 10px;

}

.main {
    margin-top: 50px;
    width: 100%;
    background-color: black;

    /*visibility: hidden;   esconder o site*/


}

section {
    background-color: white;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    height: 400px;
}

.flex-section {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

figure {
    width: 60%;
    height: 100%;
    
}


.imagem {
    border-radius: 10px;
    width: 100%;
    height: 100%;

    align-self: flex-start;
}

article {
    width: 40%;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

article h3 {
    margin-bottom: 20px;
    margin-top: 80px;
}

article p {
    width: 98%;

    font-size: 15px;
    margin-top: 20px;
}




@media screen and (max-width:990px) {

    .container-flex {
        width: 98%;
    }
    
    .flex-section {
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-color: white;
        border-radius: 10px;
       




    }

    .figura {
        background-color: white;
        width: 100%;
        height: 300px;
        border-radius: 10px;
    }

    .imagem {
        width: 100%;
        height: 300px;
        border-radius: 10px;
    }


    .artigo {
        background-color: white;
        width: 100%;
        height: 100%;


    }

    article h3 {
        margin-bottom: 20px;
        margin-top: 0;
    }

    article p {
        width: 98%;
        background-color: white;
        font-size: 15px;
        margin-top: 20px;
    }

    header {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-self: flex-end;
        background-color: white;
        margin-top: 80PX;
       margin-bottom: 130px;
    
    }
    

}

footer{
    margin-top: 100px;
}










/*.item-ativo {
    animation: tipos 1.5s ease-in-out forwards;
}

@keyframes tipos {
    from {
        transform: translate(-40%);

    }

    to {
        transform: translate(0);
    }
} */